<div class="container">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Secure Coding Practices
      <small class="text-muted">
        Exercise
      </small>

    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </nav>
  <div class="jumbotron">
    <h1 class="display-4">Hello, beautiful!</h1>
    <p class="lead">
     Placeholder
    </p>

  </div>

  <router-outlet></router-outlet>

</div>
